<h1>Editing peopleitem</h1>

<%= render "form", peopleitem: @peopleitem %>

<br>

<div>
  <%= link_to "Show this peopleitem", @peopleitem %> |
  <%= link_to "Back to peopleitems", peopleitems_path %>
</div>
