<h1>Welcome to My App</h1>

<%= form_tag convert_path, method: :post do %>
    <%= submit_tag 'Excel To Json' %>
<% end %>
<% %>
<%= form_tag generate_templates_path, method: :post do %>
  <%= submit_tag 'Generate Peopleitem.items File' %>
<% end %>
